.Publishings {
    background: linear-gradient(0deg, rgba(255,250,230,1) 0%, rgba(255,205,164,1) 77%);
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.Publishings .card {
    text-decoration: none;
    color: #222;
    max-height: 350px;
    background: white;
    border-radius: 10px;
    margin: 2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    position: relative
}

.Publishings .card:hover {
    transform: scale(1.1);
}

.card a {
    display: block;
    text-decoration: none;
    padding: 2em;
    background: url('https://images.unsplash.com/photo-1575722290270-626b0208df99?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8dGV4dHVyZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fefefe;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px
}

.card .plus {
    font-size: 5em
}