.Publishing {
    padding-top: 3em;
    background: linear-gradient(0deg, rgba(255,250,230,1) 0%, rgba(255,205,164,1) 77%);
    min-height: 100vh
}

.Publishing div {
    margin: 2em
}

.Publishing button {
    margin: 2em 0;
    padding: 1em 2em;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}