nav {
    padding: 1em 0;
    background-color: #333;
    color: #fefefe
}

nav div {
    margin: .5em
}

nav a:not(button a) {
    color: #eaeaea;
    text-decoration: none;
}

nav a:not(button a):hover {
    color: #fff
}

button a {
    text-decoration: none;
    color: #000
}